@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-font: "Karla", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

*,::after,::before {
    margin:0; padding:0; box-sizing: border-box;
}

body {display: flex; justify-content: center; align-items: center; height: 100vh; width: 100%;}

.container {width: 550px;; min-height: 550px; background: #F5F7FB; position: relative; z-index: 99;}

.container::before {content:url(./images/blob-1.png); position: absolute; right:0; z-index: -1;}
.container::after {content:url(./images/blob-2.png); position: absolute; left:0; bottom:0; z-index: -1;}

.contents {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; font-family: var(--primary-font); color: #293264}

.contents h2 {font-family: var(--primary-font); font-size: 32px; color: #293264;}
.contents p {margin: 15px 0;}
.contents button {background: #4D5B9E; border-radius: 10px; padding: 10px 50px; border: none; color: #fff; font-family: var(--primary-font); cursor: pointer;font-size: 16px;}

.question_container {padding:50px;}
.question_content {color: #293264; font-family: var(--primary-font); margin-bottom:15px; position: relative;}
.question_content::before {content:''; height:1px; width: 100%; position: absolute; left:0; right: 0; background: grey; bottom:-10px;}
.question_content:last-child:before {display: none;}
.question_content h2 {font-size: 16px; margin-bottom:10px;}
.question_content .button_container {display: flex; flex-wrap: wrap; justify-content: start; gap: 15px}
.question_content .button_container button {padding: 3px 20px; border-radius: 10px;border:1px solid #4D5B9E; cursor: pointer; background: transparent; font-family: var(--primary-font);}

.question_content .button_container .selected {background: #D6DBF5;}

.result_con {text-align: center; font-family: var(--primary-font); padding-bottom: 30px;}
.result_con button {padding: 10px 20px; background: #293264; border:none; border-radius: 10px; color:#fff; font-family: var(--primary-font); cursor: pointer; margin: 0 10px}

.wrapper {height: 600px; overflow-y: scroll; margin: 0 0 50px}

.selected {
    background-color: lightblue; /* Highlight color for selected answers */
    border: 2px solid blue;
}

.correct {
    background-color: #94D7A2 !important; /* Correct answers */
   
}

.incorrect {
    background-color: #F8BCBC !important; /* Incorrect answers */
   
}

.result_con {
    text-align: center;
    font-family: var(--primary-font);
    padding-bottom: 30px;
}

.result_con button {
    padding: 10px 20px;
    background: #293264;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: var(--primary-font);
    cursor: pointer;
    margin: 0 10px;
}


@media screen and (max-width: 500px) {
    .intro_con {height: 100vh;}
    .question_con {width: 100%;}
    .wrapper {height: 100vh; margin: 0 }
    .question_content .button_container {display: grid; grid-template-columns: 1fr 1fr; gap: 10px;}
    .question_container {padding:50px 25px;}
}